nav {
  display: flex;
  gap: 1rem;
  background-color: #333;
  color: #fff;
  padding: 1rem;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
