<header>
  <nav class="flex justify-between p-5 items-center z-0">
    <div>
      <a routerLink="/" class="lg:ml-5 font-bold tracking-wider text-3xl"
        >ROUPI</a
      >
    </div>
    <div>
      <menu class="flex gap-4 font-semibold text-lg">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/catalog">Produtos</a></li>
      </menu>
    </div>
    <div class="space-x-6 text-xl">
      <span>
        <button routerLink="/login"><i class="fa-solid fa-user"></i></button>
      </span>
      <span class="relative">
        <button (click)="toggleCart()">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
        @if (cartItemCount > 0) {
        <span
          class="absolute bottom-0 right-0 bg-red-600 text-white rounded-full text-xs px-1"
          >{{ cartItemCount }}</span
        >
        }
      </span>
    </div>
  </nav>
</header>
<app-cart-drawer
  [isVisible]="displayCart"
  (onClose)="toggleCart()"
></app-cart-drawer>
