.input-group {
  @apply flex flex-col gap-2;
}
label {
  @apply font-semibold;
}
input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  color: #000;
  @apply w-full border border-zinc-500 border-opacity-55 p-3 rounded-lg transition-all outline-none;
  @apply focus:border-blue-600;
  @apply hover:border-blue-600;
}

